
/* 
    Created on : Sep 3, 2019, 10:53:50 PM
    Author     : Matthew Miranda
*/
/* Iconos de la pantalla principal */
#ivAgenda{
    -fx-image: url(agenda.png);
}

#ivPacientes{
    -fx-image: url(registropacientes.png);
}

#ivMantUs{
    -fx-image: url(Users.png);
}

#ivMantMed{
    -fx-image: url(medic.jpg);
}

#ivExpediente{
    -fx-image: url(expediente.png);
}

#ivfondo{
    -fx-image: url(LogoClinicaUna2.png);
}

/* Pantalla de login*/
#ivImagenFondoLogin{
    -fx-image: url(vistabase.png);
}

#ivTopLogin{
    /*-fx-image: url(users4.jpg);*/
    -fx-image: url(IconoClinicaUna.png);
}

#ivUserLogin{
    -fx-image: url(Users2.png);
}

#ivPassLogin{
    -fx-image: url(padlock2.png);
}

#imgReportes{
    -fx-image: url(reportes2.png);
}

/* Pantalla de Agenda Citas */
#imgBusqueda{
    -fx-image: url(search.png);
}

#imgNuevo{
    -fx-image: url(newPaciente.png);
}

#imgCambioContrasena{
    -fx-image: url(padlock.png);
}

#lblReq{
    -fx-text-fill: red;
}

/*  Fondo Mantenimiento filtrar    */
#ivFondoFiltrar{
    -fx-image: url(pantallafiltrar.png);    
}

/* imagen en la pantalla de atencion al paciente */
#imgLogoClinica{
    -fx-image: url(LogoClinicaUna2.png);
}

#imgOlvidoContra1{
    -fx-image: url(olvidoContrasena.png);
}
#imgOlvidoContra2{
    -fx-image: url(olvidoContrasena2.jpg);
}


.jfx-button{
    -fx-background-color: #004346;
    -fx-text-fill: white;   
    -fx-font-weight: bold;
    -jfx-rippler-fill: blue;
}
.jfx-button:hover{
    -fx-background-color: #09BC8A;
}

.jfx-textarea{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}

.jfx-combo-box{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}

.lbCitasEstilo{
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.jfx-text-field{
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;    
}

.jfx-text-field:focused{
    -fx-prompt-text-fill: #4059a9;    
    -fx-text-fill: black;
}

.jfx-password-field{
    -fx-prompt-text-fill: black;    
}

.jfx-time-picker{
    -fx-prompt-text-fill: black;
}

.jfx-date-picker{
    -fx-prompt-text-fill: black;
}

.estiloFondo{
    -fx-background-color: linear-gradient(to bottom, #61c3d2, #cccccc);
}

/*  estilo de las citas   */
.estiloCitas{
    -fx-background-color: #333333;
    -fx-background-insets: 5;
    -fx-blend-mode: src-over;
    -fx-border-style: solid;    
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-border-insets: 4;
    -fx-opacity: 1;
}

.estiloCitasVacias{
    -fx-background-color: #009999;
    -fx-background-insets: 5;
    -fx-blend-mode: src-over;
    -fx-border-style: solid;    
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-border-insets: 4;
    -fx-opacity: 1;
}

.estiloCitas:hover{
    -fx-cursor: hand;
}

.EstiloScrollPane{
    -fx-background-color: linear-gradient(to bottom, #61c3d2, #cccccc);
}

.estiloSidePane{
    -fx-background-color: #666666;
    -fx-border-style: solid;    
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: -2;
}

.estiloTopBar{
    -fx-background-color: #61c3d2;
}

.labelRequisito{
    -fx-text-fill: red;    
}

#imgEliminar{
    -fx-image: url(borrador.png);
}

#btnElimExp{
    -fx-background-color: #cc0000;
    -fx-text-fill: black;   
    -fx-font-weight: bold;
    -jfx-rippler-fill: grey;
}
#btnElimExp:hover{
    -fx-background-color: #ff0000;
}
